*.dll
*.exe
.DS_Store
example.tf
terraform.tfplan
terraform.tfstate
bin/
dist/
modules-dev/
/pkg/
website/.vagrant
website/.bundle
website/build
website/node_modules
.vagrant/
*.backup
./*.tfstate
.terraform/
*.log
*.bak
*~
.*.swp
.idea
*.iml
*.test
*.iml

website/vendor

# Test exclusions
!command/test-fixtures/**/*.tfstate
!command/test-fixtures/**/.terraform/
coverage.out

# Keep windows files with windows line endings
*.winfile eol=crlf

# Examples
examples/testing/

# Generated Client
!client/
client/*
!client/postman/
client/postman/*
!client/postman/*.go

# Binaries
terraform-provider-postman
