---
page_title: "Provider: Postman"
description: |-
  The Postman Terraform provider can be used to configure and manage Postman resources using the Postman APIs
---

# {{ .ProviderShortName }} Provider

The Postman Terraform provider can be used to configure and manage Postman resources using the Postman APIs.

~> **Warning** The Terraform Provider for Postman makes use of the Postman API. Before proceeding, please ensure you have checked your Postman API usage plans on your personal/team account [resource usage page](https://web.postman.co/billing/add-ons/overview).

It currently supports the following:

| Feature      | Resource           | Data Source        | Import             |
| ------------ | ------------------ | ------------------ | ------------------ |
| Workspaces   | Supported | Supported | Supported |
| Environments | Supported | Supported | Supported |
| Apis         | In progress | In progress | In progress |
| Collections  | In progress | In progress | In progress |
| Mocks        | Not yet supported | Not yet supported | Not yet supported |
| Monitors     | Not yet supported | Not yet supported | Not yet supported |

Use the navigation to the left to read about the available resources.

## Example Usage

### Basic

{{ tffile "examples/provider/provider_basic.tf" }}

### With api key as variable

{{ tffile "examples/provider/provider_api_key_var.tf" }}

{{ .SchemaMarkdown | trimspace }}
